### === Java / Spring Boot === ###
*.class
*.log
*.jar
*.war
*.ear

.gradle/
build/
target/
bin/

### === Eclipse / STS === ###
.metadata/
.settings/
.classpath
.project
.springBeans
.sts4-cache
.apt_generated
.factorypath

### === IntelliJ IDEA === ###
.idea/
*.iws
*.iml
*.ipr
out/

### === VS Code === ###
.vscode/

### === OS === ###
.DS_Store
Thumbs.db
